#root {
  text-align: center;
  display: flex;
  justify-content: center;
  // width: 100vw;
  // min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#fff, #999);
  min-width: 100vw;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  margin: 2rem;
  flex: 1;
}


.swipe {
  position: absolute;
}

.card-container {
  width: 100%;
  // max-width: 260px;
  // height: 300px;
  position: relative;
  height: 96vw;
  max-height: 490px;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}



// animation-name: popup;
// animation-duration: 800ms;


@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
