.progress-bar {
  position: relative;
  border: 3px solid #707070;
  border-radius: 3rem;
  width: 100%;
  height: 3rem;
  margin-bottom: 5vw;

  .track {
    background: #91EE76;
    border-radius: 3rem;
    min-width: 2rem;
    height: 100%;
    transition: width .25s linear;
  }

  .icon {
    position: absolute;
    left: 0.5rem;
    top:  0.45rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}