@import '../../../styles/variables';

.button-bar {
  margin-top: 5vw;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  @media (min-width: #{$screen-sm-min}) {
    height: 5rem;
  }
}

.button-circle {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border: 3px solid #CDCDCD;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0.5rem 0.5rem #00000029;
  display: block;

  &:hover {
    transform: scale(1.05);
  }

  &.button-small {
    width: 3rem;
    height: 3rem;

    @media (min-width: #{$screen-sm-min}) {
      width: 4.5rem;
      height: 4.5rem;
      padding: 0.75rem;
    }
  }

  @media (min-width: #{$screen-sm-min}) {
    width: 5rem;
    height: 5rem;
    padding: 0.75rem;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.button-text {
  height: 3.5rem;
  padding: 0.5rem;
  border: 3px solid #CDCDCD;
  font-size: 1rem;
  background: white;
  border-radius: 1.75rem;
  box-shadow: 0px 0.5rem 0.5rem #00000029;
  display: flex;
  white-space: nowrap;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }

  span {
    padding: 0.5rem
  }

  svg {
    max-width: 3rem;
    max-height: 100%;
  }
}
