.flash-card {
  position: absolute;
  background-color: #fff;
  width: 100%;
  // max-width: 260px;
  height: 100%;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); */
  border-radius: 1rem;
  border: 3px solid #CDCDCD;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  .image {

  }
}